<%= form_tag user_facebook_omniauth_authorize_path, method: 'get', class: 'ui form' do %>
  <div class="user-type">
    <div class="ui radio checkbox">
      <%= radio_button_tag :role, 'requester' %>
      <%= label_tag :role_requester, 'I\'m a Requester' %>
    </div>
    <br>
    <div class="ui radio checkbox">
      <%= radio_button_tag :role, 'entertainer' %>
      <%= label_tag :role_entertainer, 'I\'m an Entertainer' %>
    </div>
  </div>
  <br>
  <%= render 'devise/shared/facebook_button', action: 'up' %>
<% end %>
