<div class="ui menu nav">
  <a href="/requests/new" class="item">
    <i class="fa fa-music"></i> Request Live
  </a>
  <% if user_signed_in? %>
    <div class="ui top dropdown link item right">
      <% if current_user.image.present? %>
        <span class="text">
          <%= image_tag current_user.image, class: 'avatar' %>
          <%= current_user.email %> <span class="caret"></span>
        </span>
      <% else %>
        <span class="text">
          <i class="fa fa-2x fa-user-circle-o"></i>
          <%= current_user.email %> <span class="caret"></span>
        </span>
      <% end %>
      <i class="dropdown icon"></i>
      <div class="menu">
        <% if current_user.is_admin? %>
          <%= link_to('Admin', rails_admin.dashboard_path, class: 'item') %>
        <% end %>
        <% if current_user.is_entertainer? %>
          <%= link_to('Requests', requests_path, class: 'item') %>
        <% end %>
        <%= link_to('Profile', edit_user_registration_path, class: 'item') %>
        <%= link_to('Logout', destroy_user_session_path, class: 'item', method: :delete) %>
      </div>
    </div>
  <% end %>
  <% if !user_signed_in? && current_page?(new_user_session_path) %>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'item right' %>
    <%= link_to 'Forgot password?', new_user_password_path, class: 'item' %>
  <% elsif !user_signed_in? %>
    <%= link_to 'Sign In', new_user_session_path, class: 'item right' %>
    <%= link_to 'Forgot password?', new_user_password_path, class: 'item' %>
  <% end %>
</div>
