<% if !@requests.present? %>
  <h3>No requests.</h3>
<% end %>
<% if @requests.present? %>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Artist</th>
        <th>Title</th>
        <th>Comments</th>
        <th>Date</th>
        <th>Requested By</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @requests.each do |request| %>
        <tr class="request-row">
          <td><%= request.id %></td>
          <td><%= request.artist %></td>
          <td><%= request.title %></td>
          <td><%= request.comments %></td>
          <td><%= request.created_at_in_time_zone %></td>
          <td>
            <h5 class="ui image header">
              <% if request.user.image.present? %>
                <%= image_tag request.user.image, class: 'ui mini rounded image' %>
              <% else %>
                <div class="ui mini rounded image grey center" >
                  <i class="fa fa-user"></i>
                </div>
              <% end %>
              <div class="content">
                <%= request.event.user.name || request.event.user.email %>
              </div>
            </h5>
          </td>
          <td>
            <div class="ui selection dropdown">
              <i class="dropdown icon"></i>
              <div class="default text">Action</div>
              <div class="menu">
                <%= link_to 'Show', request, class: 'item' %>
                <%= link_to 'Edit', edit_request_path(request), class: 'item' %>
                <%= link_to 'Destroy', request, class: 'item', method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
