<p id="notice"><%= notice %></p>
<%= link_to 'New Request', new_request_path, class: 'btn btn-default btn-sm pull-right' %>
<div class="container-fluid">
  <h1 class="text-center">Requests</h1>
  <table class="table col-md-offset-3 col-md-6">
    <thead>
      <tr>
        <th>ID</th>
        <th>Artist</th>
        <th>Title</th>
        <th>Comments</th>
        <th>Date</th>
        <th>Requested By</th>
        <th></th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @requests.each do |request| %>
        <tr class="request-row">
          <td><%= request.id %></td>
          <td><%= request.artist %></td>
          <td><%= request.title %></td>
          <td><%= request.comments %></td>
          <td><%= request.created_at_in_time_zone %></td>
          <td><%= request.user.email %></td>
          <td><%= link_to 'Show', request %></td>
          <td><%= link_to 'Edit', edit_request_path(request) %></td>
          <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
