<p>
  <strong>Artist:</strong>
  <%= @request.artist %>
</p>

<p>
  <strong>Title:</strong>
  <%= @request.title %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @request.comments %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
